---
layout: default
title: Publications
permalink: /publications/
---

<style>
  ul.publications-list {
    list-style-type: none;
    padding-left: 0;
  }
  ul.publications-list li {
    margin-bottom: 1.2em;
    line-height: 1.4;
  }
  ul.publications-list li strong {
    font-weight: 600;
  }
  ul.publications-list li a {
    color: #1a0dab;
    text-decoration: none;
  }
  ul.publications-list li a:hover {
    text-decoration: underline;
  }
</style>

<h1>Publications</h1>

<ul class="publications-list">
  {% for pub in site.data.publications %}
    <li>
      <strong>{{ pub.authors }}</strong>. 
      "<em>{{ pub.title }}</em>."
      {% if pub.journal %}
        <strong>{{ pub.journal }}</strong>
      {% endif %}
      {% if pub.volume %} {{ pub.volume }}{% endif %}
      {% if pub.issue %}, no. {{ pub.issue }}{% endif %}
      {% if pub.pages %}
        {% if pub.pages contains "-" %}
          : {{ pub.pages }}.
        {% else %}
          ({{ pub.pages }}).
        {% endif %}
      {% else %}
        .
      {% endif %}
      {{ pub.year }}.
      {% if pub.doi %}
        <a href="https://doi.org/{{ pub.doi }}" target="_blank" rel="noopener noreferrer">https://doi.org/{{ pub.doi }}</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
